<h1>New App Title</h1>

<form action="/fetch" method="post">
  <input type="text" placeholder="twitter username" name="username">
  <input type="submit" class="search-tweets" value="Check your tweeter">
</form>
<div class="tweets-container">
</div>
